// breakpoints
   
$S:     768px;   
$M:     1024px;     
$L:     1600px;   

// media queries

@mixin MQ($canvas) {
  @if $canvas == S {
   @media only screen and (min-width: $S) { @content; } 
  }
  @else if $canvas == M {
   @media only screen and (min-width: $M) { @content; } 
  }
  @else if $canvas == L {
   @media only screen and (min-width: $L) { @content; } 
  }
}

// mobile layout mixins
@mixin layoutmobile {
  display: flex;
  flex-direction: column;
}

@mixin mobiletext {
  padding: 2.5% 10%;
}

@mixin smalltext {
  padding: 0 25%;
}

// desktop layout mixins
@mixin desktoplayout {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

@mixin fullspan { // fullwidth image span
  grid-column: 1/-1;
}

@mixin largespan { // large content span
  grid-column: 2/-2;
}

@mixin midspan { // medium content span (mobile)
  grid-column: 3/-3;
}

@mixin midspanleft { // medium content span - left
  grid-column: 2/-4;
}

@mixin midspanright { // medium content span - right
  grid-column: 4/-2;
}


// super light grid - it works with the .cd-container class inside style.scss

@mixin column($percentage, $float-direction:left) {
  width: 100% * $percentage;
  float: $float-direction;
}

// mobile layout
.page-wrapper {
  @include layoutmobile;
}

header, .summary, .preamble, .explanation, .participation, .benefits, .requirements, .sidebar .wrapper {
  width: 100%;
  &>* {
    @include mobiletext;
  }
}

footer {
  @include smalltext;
}

header {
  background-color: #233541;
  h1 {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: url('/images/store.nike.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #e6e6e6;
  }
  h2 {
    color: #e6e6e6;
  }
}

.summary, .benefits, .sidebar .wrapper {
  background-color: blue;
  background-image: '$photo-1';
  background-color: orange;
  padding: 3em 0;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 3em 0;
}

.preamble::after, .explanation::after {
  content: '';

  background-image: "$photo-1";
  background-color: blue;
  background-color: orange;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 300px;
  display: block;
  margin: 3em 0;
}


// images
.summary {
  background-image: url('/images/basketball.hoop.jpg');
}

.benefits {
  background-image: url('/images/battle.ropes.jpg');
}

.sidebar .wrapper {
  background-image: url('/images/blue.nike.jpg');
}

.preamble::after {
  background-image: url('/images/gray.nike.jpg');
}

.explanation::after {
  background-image: url('/images/orange.nike.jpg');
}


//footer styles
footer {
  display: flex;
  justify-content: center;
  a {
    text-align: center;
    &::after {
      content: '';
      background-image: url(/images/runner.jpg);
      width: 4em;
      height: 4em;
      display: block;
      background-size: contain;
      background-repeat: no-repeat;
      
    }
    margin: 1em;
    
  }
}

.sidebar .wrapper {
  display: flex;
  flex-direction: column;
}

// desktop layout

@include MQ(L) {
  .page-wrapper, .preamble, .explanation, .participation, .requirements, .sidebar .wrapper{
    @include desktoplayout;
  }

  .intro, .supporting, .sidebar {
    @include fullspan;
  }

  .explanation, .requirements{
    @include fullspan;
    width: 100%;
    &>* {
      @include midspanright;
    }
  }

  .preamble, .participation{
    @include fullspan;
    width: 100%;
    &>* {
      @include midspanleft;
    }
  }

  .sidebar .wrapper{
    @include fullspan;
    width: 100%;
    &>* {
      @include midspan;
    }
  }

  //resets
  .summary, .benefits, .sidebar .wrapper {
    background: none;
    padding: 3em 0;
  }
  
  // .preamble::after, .explanation::after {
  //   content: '';
  //   background: none;
  // }
  
  //placeholders
  .preamble, .explanation, .participation, .requirements {
    background-color: orange;
    background-image: "$photo-1-lg";
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3em 0;
    margin: 3em 0;
  }

  .preamble::after, .explanation::after {
    content: '';
    display: none;
  }

  // images
  .preamble {
    background-image: url('/images/basketball.hoop.jpg');
  }

  .explanation {
    background-image: url('/images/battle.ropes.jpg');
  }

  .participation {
    background-image: url('/images/blue.nike.jpg');

  }

  .requirements {
    background-image: url('/images/gray.nike.jpg');
  }

  //footer styles

  footer {
    display: flex;
    justify-content: center;
    a {
      margin: 1em;
    }
  }

  .sidebar .wrapper {
    display: flex;
    flex-direction: row;
  }

}

@include MQ(M) {
  .page-wrapper, .preamble, .explanation, .participation, .requirements, .sidebar .wrapper{
    @include desktoplayout;
  }

  .intro, .supporting, .sidebar {
    @include fullspan;
  }

  .explanation, .requirements{
    @include fullspan;
    width: 100%;
    &>* {
      @include midspanright;
    }
  }

  .preamble, .participation{
    @include fullspan;
    width: 100%;
    &>* {
      @include midspanleft;
    }
  }

  .sidebar .wrapper{
    @include fullspan;
    width: 100%;
    &>* {
      @include midspan;
    }
  }

  //resets
  .summary, .benefits, .sidebar .wrapper {
    background: none;
    padding: 3em 0;
  }
  
  // .preamble::after, .explanation::after {
  //   content: '';
  //   background: none;
  // }
  
  //placeholders
  .preamble, .explanation, .participation, .requirements {
    background-color: orange;
    background-image: "$photo-2-lg";
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3em 0;
    margin: 3em 0;
  }

  .preamble::after, .explanation::after {
    content: '';
    display: none;
  }

  // images
  .preamble {
    background-image: url('/images/basketball.hoop.jpg');
  }

  .explanation {
    background-image: url('/images/battle.ropes.jpg');
  }

  .participation {
    background-image: url('/images/blue.nike.jpg');
  }

  .requirements {
    background-image: url('/images/gray.nike.jpg');
  }

  //footer styles

  footer {
    display: flex;
    justify-content: center;
    a {
      margin: 1em;
    }
  }

  .sidebar .wrapper {
    display: flex;
    flex-direction: row;
  }


}

// .summary, .benefits, .design-selection, .design-archives, .zen-resources, footer {
//   @include largespan;
// }

// .preamble::after, .explanation::after, .benefits::after, .requirements::after {
//   content: '';
//   @include fullspan;
//   height: 70vh;
//   border: solid black 1px;
//   display: block;
// }

// // grid styles to be used for mobile

// .intro, .main, .sidebar {
//   @include grid124;
// }

// header, .preamble, .explanation, .participation, .requirements, .sidebar .wrapper {
//   @include largespan;
// }

// .zen-resources {
//   @include midspan;
// }