// breakpoints
   
$S:     768px;   
$M:     1024px;     
$L:     1600px;   

// media queries

@mixin MQ($canvas) {
  @if $canvas == S {
   @media only screen and (min-width: $S) { @content; } 
  }
  @else if $canvas == M {
   @media only screen and (min-width: $M) { @content; } 
  }
  @else if $canvas == L {
   @media only screen and (min-width: $L) { @content; } 
  }
}

// column spans
@mixin fullspan { // fullwidth image span (mobile & desktop)
  grid-row: 1/-1;
}

@mixin largespan { // large content span (mobile & desktop)
  grid-row: 2/-2;
}

@mixin midspan { // medium content span (mobile)
  grid-row: 3/-3;
}

@mixin midspanleft { // medium content span - left (desktop)
  grid-row: 1/-4;
}

@mixin midspanright { // medium content span - right (desktop)
  grid-row: 4/-1;
}

// super light grid - it works with the .cd-container class inside style.scss

@mixin column($percentage, $float-direction:left) {
  width: 100% * $percentage;
  float: $float-direction;
}

// grid styles for mobile and desktop

.summary, .benefits, .design-selection, .design-archives, .zen-resources, footer {
  @include largespan;
}

// grid styles to be used for mobile

@include MQ($S) {
  @mixin grid124 {
    display: grid;
    grid-template-columns: fr1 fr2 fr4 fr2 fr1;
  }
    
  .page-wrapper {
    @include grid124;
  }
  
  header, .preamble, .explanation, .participation, .requirements {
    @include gridspanlg;
  }
  
  .zen-resources {
    @include midspan;
  }
}

// grid styles to be used for larger screens

@include MQ($L) {
  @mixin grid8 {
    display: grid;
    grid-template-rows: repeat(8, 1fr)
  }

  header, .summary, .participation {
    @include midspanleft;
  }

  .explanation, .requirements{
    @include midspanright;
  }

}